{% extends 'insta/navbar.html' %}
{% block content %}
<div class="py-5 my-4 d-flex flex-column  align-items-center">
    <form action="{% url 'insta:create' %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p>게시글 작성</p>
        <input type="file" name="image" />
        <br />
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <br />
        <input type="submit", value="저장하기", class="btn bg-secondary text-white">
    </form>
</div>
{% endblock %}